.container {
  padding: 20px;
  margin: 10px;
}

.form-section {
  border: 1px solid #666;
  padding: 15px;
  margin: 10px 0;
}

.form-field {
  padding: 10px;
  margin: 5px 2px;
}

.books-section {
  border: 1px solid #666;
  padding: 15px;
  margin: 10px 0;
}

.book-card {
  border: 1px solid #999;
  padding: 10px;
  margin: 5px 0;
}

p {
  margin: 5px 0px;
}